extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      h1.text-center.px-4.pt-5 Gestión de Admisiones

      .table-responsive
        table#tablaAdmisiones.table.table-striped.table-bordered
          thead
            tr
              th ID
              th Paciente
              th DNI
              th Obra Social
              th N° Asociado
              th Motivo Ingreso
              th Descripción
              th Fecha Ingreso
              th Fecha Egreso
              th Motivo Egreso
              th Personal de Salud
              th Acciones
          tbody
            if admisiones && admisiones.length
              each admision in admisiones
                tr
                  td #{admision.id_admision}
                  td #{admision.paciente}
                  td #{admision.dni_paciente}
                  td #{admision.obra_social}
                  td #{admision.num_asociado}
                  td #{admision.motivo_ingreso}
                  td #{admision.descripcion}
                  td #{admision.fecha_ingreso}
                  td #{admision.fecha_egreso}
                  td #{admision.motivo_egr}
                  td #{admision.personal_salud}
                  td
                    button.btn.btn-sm.btn-primary.me-1.edit-btn(data-id=admision.id_admision)
                      i.fas.fa-pen
                    button.btn.btn-sm.btn-danger.me-1.delete-btn(data-id=admision.id_admision)
                      i.fas.fa-trash
            else
              tr
                td(colspan="12") No hay admisiones registradas.

        
        link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
        script(src="https://code.jquery.com/jquery-3.7.1.min.js")
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
        script(src="/js/admisiones.js")