extends layout_modular

block content
  h1.text-center.mb-4 Gestión de Admisiones

  .table-responsive
    table#tablaAdmisiones.table.table-striped.table-bordered
      thead
        tr
          th ID
          th Paciente
          th Obra Social
          th Personal Administrativo
          th Personal de Salud
          th Motivo Ingreso
          th Fecha Ingreso
          th Estado
          th Acciones
      tbody
        if admisiones && admisiones.length
          each admision in admisiones
            tr
              td #{admision.id_admision}
              td #{admision.paciente}
              td #{admision.obra_social}
              td #{admision.personal_admin}
              td #{admision.personal_salud}
              td #{admision.motivo_ingreso}
              td #{admision.fecha_hora_ingreso}
              td #{admision.estado}
              td
                button.btn.btn-sm.btn-primary.me-1.edit-btn(data-id=admision.id_admision)
                  i.fas.fa-pen
                button.btn.btn-sm.btn-danger.me-1.delete-btn(data-id=admision.id_admision)
                  i.fas.fa-trash
        else
          tr
            td(colspan="9") No hay admisiones registradas.

  // Librerías DataTables y jQuery
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
  script(src="/js/admisiones.js")
