extends layout_modular

block content
  h1.text-center.mb-4 Búsqueda de Familiares por Paciente

  form(method="GET" action="/familiares/buscar" class="mb-4")
    .row
      .col-md-6
        label(for="id_paciente") Seleccione un Paciente:
        select#id_paciente.form-control(name="id_paciente" required)
          option(value="") Seleccionar paciente
          each paciente in pacientes
            option(value=paciente.id_paciente selected=id_paciente==paciente.id_paciente)= `${paciente.nombre_p} ${paciente.apellido_p}`
      .col-md-2.mt-4
        button.btn.btn-primary(type="submit") Buscar Familiares

  if familiares.length
    h2.mt-4 Lista de Familiares para Paciente Seleccionado
    table#tablaFamiliares.table.table-striped.table-bordered
      thead
        tr
          th ID Familiar
          th Nombre
          th Apellido
          th Parentesco
          th Teléfono
          th Estado
      tbody
        each familiar in familiares
          tr
            td= familiar.id_familiar
            td= familiar.nombre
            td= familiar.apellido
            td= familiar.parentesco_nombre
            td= familiar.telefono
            td= familiar.estado == 1 ? 'Activo' : 'Inactivo'
  else if id_paciente
    p.mt-4 No se encontraron familiares para este paciente.

  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
  link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
  script.
    $(document).ready(function() {
      $('#tablaFamiliares').DataTable({
        language: {
          url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json'
        }
      });
    });
