extends layout_modular

block content
  .admin-hero
    .container.mt-5
        h2.text-center.text-primary Panel de Salud

        if usuario
        p.text-end
            strong Usuario: 
            | #{usuario.nombre} #{usuario.apellido}

        hr

        h4 Pacientes asignados

        table.table.table-bordered.mt-3
        thead
            tr
            th DNI
            th Nombre
            th Apellido
            th Cama
            th Fecha de ingreso
        tbody
            each p in pacientes
            tr
                td= p.dni_paciente
                td= p.nombre_p
                td= p.apellido_p
                td= p.cama
                td= p.fecha_ingreso

        .mt-4
        a.btn.btn-success(href='/paciente/alta')
            i.fas.fa-sign-out-alt.me-1
            | Dar de alta paciente
