extends layout_modular

block content
  h1.text-center.mb-4 Gestión de Habitaciones

  .table-responsive
    table#tablaHabitacion.table.table-striped.table-bordered
      thead
        tr
          th Número
          th Cama
          th Sector
          th Estado
          th Acciones
      tbody
        if habitaciones && habitaciones.length
          each habitacion in habitaciones
            tr
              td #{habitacion.num}
              td #{habitacion.cama}
              td #{habitacion.sector}
              td #{habitacion.estado}
              td
                button.btn.btn-sm.btn-primary.me-1.edit-btn(data-id=habitacion.id_habitacion)
                  i.fas.fa-pen
                button.btn.btn-sm.btn-danger.me-1.delete-btn(data-id=habitacion.id_habitacion)
                  i.fas.fa-trash
        else
          tr
            td(colspan="5").text-center.text-muted No hay habitaciones registradas.

  // Librerías DataTables y jQuery
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
  script(src="/js/habitacion.js")
