extends layout

block content
  h1 Bienvenido a nuestra Clínica
    p Ofrecemos atención de calidad.

  h2 Obras sociales que recibimos:
    ul
      each obra in listaObras
        li= obra

  h2 Especialidades disponibles:
    ul
      each esp in listaEsp
        li= esp


  h2.mt-5.text-center Profesionales del área de internación

    .row.row-cols-2.row-cols-sm-3.row-cols-md-4.row-cols-lg-5.g-4.mt-3.justify-content-center
      each medico in medicos
        .col
          .card.expandible.h-100.shadow-sm.text-center(style="padding: 10px; cursor: pointer;")
            img.card-img-top.mx-auto.mt-2.mb-2.rounded-circle(
              src=medico.foto, 
              alt=medico.nombre, 
              style="width: 80px; height: 80px; object-fit: cover;"
            )
            .card-body.p-2
              h6.card-title.mb-1= medico.nombre
              p.card-text.text-muted.small= medico.especialidad

  