extends layout_modular

block content
  h1.text-center.mb-4 Lista de Internaciones Activas

  table#tablaAdmisiones.table.table-striped.table-bordered
    thead
      tr
        th ID
        th Paciente
        th Obra Social
        th Num Asociado
        th Motivo
        th Ingreso
        th Egreso
        th Personal Salud
        th Acciones
    tbody
      each admision in admisiones
        tr
          td= admision.id_admision
          td= admision.paciente_nombre
          td= admision.obra_social_nombre
          td= admision.num_asociado
          td= admision.motivo_tipo
          td= admision.fecha_hora_ingreso
          td= admision.fecha_hora_egreso
          td= admision.id_personal_salud
          td
            a.btn.btn-warning.btn-sm(href=`/admision/editar/${admision.id_admision}`) Editar
            form(method="POST" action=`/admision/eliminar/${admision.id_admision}` class="d-inline ms-1")
              button.btn.btn-danger.btn-sm(type="submit" onclick="return confirm('¿Seguro de eliminar?')") Eliminar

  a.btn.btn-success.mt-3(href="/admision") Agregar Nueva Admisión

  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
  link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
  script.
    $(document).ready(function() {
      $('#tablaAdmisiones').DataTable({
        language: {
          url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json'
        }
      });
    });
