extends layout_modular

block content
  .admin-hero
      
      h1.text-center.px-4.text-primary.fw-bold Panel de Salud
      if usuario
        p.text-end.text-muted
          strong Usuario: 
          | #{usuario.nombre} #{usuario.apellido}

      h4.mt-4.mb-3.text-center.fw-bold Pacientes asignados

      .table-responsive
        table#tablaPacientes.table.table-striped.table-bordered.w-100
          thead
            tr
              th DNI
              th Nombre completo
              th Cama
              th Fecha de ingreso
              th Motivo ingreso
              th Acciones
          tbody
            each m in movimientos
              - var habNum = (m.cama && m.cama.habitacion && m.cama.habitacion.num) || '?'
              - var sectorNombre = (m.cama && m.cama.habitacion && m.cama.habitacion.sector && m.cama.habitacion.sector.nombre) || '?'
              tr(data-dni=m.admision.paciente.dni_paciente style="cursor:pointer; white-space: nowrap;")
                td= m.admision.paciente.dni_paciente
                td= `${m.admision.paciente.apellido_p}, ${m.admision.paciente.nombre_p}`
                td= m.cama ? `${m.cama.nombre} - Hab ${habNum} / ${sectorNombre}` : '-'
                td= m.fecha_hora_ingreso.toLocaleString('es-AR')
                td= m.admision.motivo_ingreso ? m.admision.motivo_ingreso.nombre : '-'
                td
                  a.btn.btn-sm.btn-primary(href=`/registroClinico?dni=${m.admision.paciente.dni_paciente}`)
                    i.fas.fa-notes-medical.me-1
                    | Registro


      // Scripts
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
      script(src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js")
      link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
      link(rel="stylesheet", href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css")
      script(src="/js/panelSalud.js")
