extends layout_modular

block content
  .admin-hero
    .container.mt-5
        h1.text-center.text-primary Panel de Salud

        if usuario
        p.text-end
            strong Usuario: 
            | #{usuario.nombre} #{usuario.apellido}


        h4 Pacientes asignados

        table#tablaPacientes.table.table-bordered.mt-3
          thead
            tr
              th DNI
              th Nombre
              th Apellido
              th Cama
              th Fecha de ingreso
              th Acciones
          tbody
            each m in movimientos
              tr(data-dni=m.admision.paciente.dni_paciente style="cursor:pointer;")
                td= m.admision.paciente.dni_paciente
                td= m.admision.paciente.nombre_p
                td= m.admision.paciente.apellido_p
                td= m.cama ? m.cama.nombre : '—'
                td= m.fecha_hora_ingreso.toLocaleString('es-AR')
                td
                  a.btn.btn-sm.btn-info(href=`/registroClinico?dni=${m.admision.paciente.dni_paciente}`)
                    i.fas.fa-notes-medical.me-1
                    | Registro
                  a.btn.btn-sm.btn-danger.ms-2(href=`/paciente/alta?dni=${m.admision.paciente.dni_paciente}`)
                    i.fas.fa-sign-out-alt.me-1
                    | Alta


        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
        script(src="/js/panelSalud.js")
