extends layout_modular

block content
  .container.mt-5
    .card.shadow-lg.mx-auto(style="max-width: 600px;")
      .card-body.text-center
        img.rounded-circle.mb-3(src=foto, width="120", height="120")

        form(action="/perfil" method="POST" class="text-start")
          .mb-3
            label.form-label(for="nombre") Nombre
            input.form-control(type="text" id="nombre" name="nombre" required value=usuario.nombre)

          .mb-3
            label.form-label(for="apellido") Apellido
            input.form-control(type="text" id="apellido" name="apellido" required value=usuario.apellido)

          .mb-3
            label.form-label(for="username") Usuario
            input.form-control(type="text" id="username" name="username" required value=usuario.username readonly)

          if especialidad
            .mb-3
              label.form-label(for="especialidad") Especialidad
              input.form-control(type="text" id="especialidad" readonly value=especialidad)

          button.btn.btn-primary.w-100(type="submit") Guardar cambios

          a.btn.btn-outline-secondary.mt-3#btnCambiarPassword
            i.fas.fa-key.me-1
            | Cambiar contraseña


    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="/js/perfil.js")
