extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      h1.text-center.px-4.pt-5 Reserva de Camas

      .table-responsive
        table#tablaReservas.table.table-striped.table-bordered
          thead
            tr
              th Sector
              th Habitación
              th Cama
              th Fecha de Reserva
              th Paciente
              th Motivo de Ingreso
              th Acción
          tbody
            if camas && camas.length
              each cama in camas
                if cama.movimientos && cama.movimientos.length > 0
                  - const mov = cama.movimientos[0]
                  - const idMovimiento = mov?.id_movimiento
                  - const paciente = mov?.admision?.paciente
                  - const fechaIngreso = mov?.fecha_hora_ingreso ? new Date(mov.fecha_hora_ingreso).toLocaleString('es-AR') : '-'
                  - const motivo = mov?.admision?.motivo_ing || '-'
                  - const idPaciente = paciente?.id_paciente || ''

                  tr
                    td
                      if cama.habitacion && cama.habitacion.sector
                        = cama.habitacion.sector.nombre
                      else
                        | -
                    td
                      if cama.habitacion
                        = cama.habitacion.num
                      else
                        | -
                    td= cama.nombre
                    td= fechaIngreso
                    td= paciente ? `${paciente.apellido_p}, ${paciente.nombre_p}` : '-'
                    td= motivo
                    td
                      form(action='/confirmar-reserva', method='POST', style='display:inline')
                        input(type='hidden', name='id_paciente', value=idPaciente)
                        input(type='hidden', name='fecha_actual', value=fechaIngreso)
                        button.btn.btn-sm.btn-success(type='submit')
                          i.fas.fa-check-circle.me-1
                          | Confirmar

                      form(action=`/cancelar-reserva/${idMovimiento}`, method='POST', style='display:inline; margin-left: 6px;')
                        button.btn.btn-sm.btn-danger(type='submit' onclick='return confirm("¿Cancelar esta reserva?")')
                          i.fas.fa-times-circle.me-1
                          | Cancelar
            else
              h1 No hay reservas activas para mostrar.

        // Librerías para tabla y scripts
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css") 
        script(src="/js/reservar.js")
